<div class="listsnav">
    <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" onclick="return false">
        <i class="material-icons color-white">list</i>
    </button>
    
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
        {{#each lists as |item|}}
            <li class="mdl-menu__item" data-value="{{item.Path}}">{{item.Title}}</li>
        {{/each}}
    </ul>         
</div>